@model BigSchool.ViewModels.CoursesViewModel
@{
    ViewBag.Title = "Home Page";
}
@{
    var att = Model.attandence.ToList();
    var fl = Model.following.ToList();
    var course1 = Model.UpcomingCourses.ToList();
}

<div class="row">
    <h2>Courses</h2>
    <ul class="course">
        @foreach (var course in course1)
        {
            if (course.IsCanceled == false)
            {
                <li>
                    <div class="date">
                        <div class="month">
                            @course.DateTime.ToString("dd")
                        </div>
                        <div class="day">
                            @course.DateTime.ToString("MM")
                        </div>
                    </div>
                    <div class="details">
                        <span class="lecturer">
                            @course.Lecturer.Name
                            @if (Model.ShowAction)
                            {
                                var x = 0;
                                foreach (var acc in fl)
                                {

                                    if (acc.FolloweeId == course.LecturerID)
                                    {
                                        x = x + 1;
                                        <button class="btn btn-success btn-sm js-toggle-follow" data-user-id="@course.LecturerID">Following</button>
                                    }
                                }
                                if (x == 0)
                                {
                                    <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerID">Follow</button>
                                }
                            }
                        </span>
                        <span class="category">
                            @course.Category.Name
                        </span>
                        @if (Model.ShowAction)
                        {
                            var x = 0;
                            foreach (var a in att)
                            {
                                if (a.CourseId == course.Id)
                                {
                                    x = x + 1;
                                    <button data-course-id="@course.Id" class="btn btn-success btn-sm js-toggle-attendance">Going</button>

                                }
                            }
                            if (x == 0)
                            {
                                <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going?</button>

                            }
                        }
                    </div>
                </li>
            }
        }
    </ul>
</div>
@section scripts
    {
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });
            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("Following");
                    })
                    .fail(function () {
                        alert("Something failed");
                    });
            });
        });
    </script>
}


